{% assign default_icon = 'images/icon.svg' | asset_url %}

<!-- Header -->
<header class="bg-primary text-white shadow-sm" x-data="{ mobileMenuOpen: false }">
    <div class="mx-auto max-w-screen-xl px-4">
        <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <!-- Logo -->
                <a href="{{site.index_path}}" aria-label="{{ site.name }}" class="flex items-center">
                    {% if site.settings.logo_url %}
                    <span><img src="{{ site.settings.logo_url }}" class="h-6 md:h-8 xl:h-10" alt="{{ site.name }}"/></span>
                    {% else %}
                    <span><img src="{{ site.favicon_url | default: logo }}" class="h-8" alt="{{ site.name }}" /></span>
                    <span class="hidden ml-2 text-xl font-bold md:block">{{ site.name }}</span>
                    {% endif %}
                </a>
            </div>

            <!-- Desktop Navigation -->
            <nav class="hidden md:flex space-x-8">
                {% if site.settings.header_menu_html %}
                    {{ site.settings.header_menu_html }}
                {% else %}
                    <a href="/" class="">Home</a>
                    <a href="/s/faq" class="">FAQ</a>
                    <a href="/s/channel" class="">Channel</a>
                    <a href="/s/page" class="">Page</a>
                    <a href="/s/about" class="">About</a>
                {% endif %}
            </nav>

            <!-- Auth Buttons -->
            <div class="hidden md:flex items-center space-x-4">
                {% if site.settings.contact_url %}
                    <a href="{{ site.settings.contact_url }}" target="_blank"
                        class="flex items-center px-2 py-1 md:px-4 md:py-3 space-x-2 text-sm font-semibold leading-4 transition-colors duration-300 bg-secondary rounded-md hover:bg-secondary-800 text-blue-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                        </svg>
                        <span>
                        {{ 'generic.contact' | t }}<span class="hidden md:inline">{{ 'generic.with_support' | t }}</span>
                        </span>
                    </a>
                {% endif %}
            </div>

            <!-- Mobile menu button -->
            <button 
                class="md:hidden rounded-md p-2  hover:bg-gray-100"
                @click="mobileMenuOpen = !mobileMenuOpen"
            >
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

        <!-- Mobile menu -->
        <div 
            class="md:hidden"
            x-show="mobileMenuOpen"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 -translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 -translate-y-1"
        >
            <div class="px-2 pt-2 pb-3 space-y-1">
                {% if site.settings.header_menu_html %}
                    {{ site.settings.header_menu_html }}
                {% else %}
                    <a href="/" class="block px-3 py-2 rounded-md  hover:bg-gray-100">Home</a>
                    <a href="/faq" class="block px-3 py-2 rounded-md  hover:bg-gray-100">FAQ</a>
                    <a href="/changelog" class="block px-3 py-2 rounded-md  hover:bg-gray-100">Changelog</a>
                    <a href="/elements" class="block px-3 py-2 rounded-md  hover:bg-gray-100">Elements</a>
                    <a href="/about" class="block px-3 py-2 rounded-md  hover:bg-gray-100">About</a>
                    <a href="/contact" class="block px-3 py-2 rounded-md  hover:bg-gray-100">Contact</a>
                {% endif %}
                {% if site.settings.contact_url %}
                    <a href="{{ site.settings.contact_url }}" target="_blank"
                        class="flex items-center px-2 py-1 md:px-4 md:py-3 space-x-2 text-sm font-semibold leading-4 transition-colors duration-300 bg-secondary rounded-md hover:bg-secondary-800 text-blue-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                        </svg>
                        <span>
                        {{ 'generic.contact' | t }}<span class="hidden md:inline">{{ 'generic.with_support' | t }}</span>
                        </span>
                    </a>
                {% else %}
                    <div class="pt-4 space-y-2">
                        <a href="/signin" class="block px-3 py-2 rounded-md  hover:bg-gray-100">Log in</a>
                        <a href="/signup" class="block px-3 py-2 rounded-md text-center bg-white text-gray-900 text-white hover:bg-gray-100">Sign up</a>
                        <a href="#" class="flex items-center justify-center space-x-2 px-3 py-2 rounded-md bg-gray-100 hover:bg-gray-200">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M12 1A10.89 10.89 0 0 0 1 11.77 10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77 10.89 10.89 0 0 0 12 1"/>
                            </svg>
                            <span>GitHub</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>