{% assign default_icon = 'images/icon.svg' | asset_url %}

{% comment %} 左侧 NavBar只显示当前父级栏目，具体做法： nav_tree_path 添加一个 parent 参数即可。 {% endcomment %}
{% unless page.parent.path == '/' %}
  {% assign parent = page.parent %}
{% else %}
  {% assign parent = page %}
{% endunless %}

{% assign sub_pages = page.children_in_list %}
{% assign sub_pages_size = sub_pages | size %}
{% assign default_avatar_url = 'images/avatar.svg' | asset_url %}

<main class="py-4 lg:py-10 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/4 px-4 hidden md:block">
                <aside class="sticky top-4">
                    <div class="bg-white rounded-lg shadow-sm p-6">
                        <h3 class="text-sm font-semibold text-gray-900 uppercase mb-4">{{ 'generic.menu' | t}}</h3>
                        <ul class="space-y-2 overflow-x-auto" id="version-list">
                          <turbo-frame
                            src="{{ site.nav_tree_path | append: '?selected_ids=' | append: page.id }}"
                            id="nav_tree"
                          ></turbo-frame>
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="w-full lg:w-3/4 px-4">
              <turbo-frame id="main-content" data-turbo-action="advance" :class="">
                <div class="bg-white rounded-lg shadow-sm p-8">
                    <div class="flex items-center space-x-4">
                      <img src="{{ page.settings.icon | default: default_icon }}" alt="{{ page.link_text }}" class="h-16">
                      <div>
                        <h2 class="text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-4xl mb-2">{{ page.settings.title}}</h2>
                        <p class="text-gray-500 mb-4">{{ page.settings.description }}</p>
                      </div>
                    </div>
                    
                    <div class="space-y-6">
                      {% for sub_page in sub_pages %}
                        {% assign desc = sub_page.settings.content | truncate: 80 | strip_html  %}
                        <!-- Article cards -->
                        <article class="border rounded-lg p-6 hover:shadow-md transition">
                            <a href="{{ sub_page.path }}" class="block">
                                <h2 class="text-lg lg:text-xl font-semibold text-gray-900 mb-2 flex items-center justify-between">
                                    {{ sub_page.link_text }}
                                    <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </h2>
                                <p class="text-gray-600">{{ sub_page.settings.description | default: desc }}</p>
                            </a>
                        </article>
                      {% endfor %}
                    </div>
                </div>
              </turbo-frame>
            </div>
        </div>
    </div>
</main>


{% schema %}
  {
    "name": "Channel list",
    "description": "a channel page list",
    "thumb_url": "images/theme/page-channel.png",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 100,
        "label": "t:settings_schema.page.settings.icon.label",
        // "required": true, 如果必填就用这个参数
        "info": "t:settings_schema.page.settings.icon.info"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
    ]
  }
{% endschema %}
